lab1/.gradle/
lab1/.idea/
lab1/build/
lab1/gradle/
lab2/
lab3/
lab4/
/.idea
lab1/gradle/wrapper/gradle-wrapper.jar
lab1/gradlew.bat
lab1/settings.gradle
lab1/gradlew.bat
lab1/gradlew
lab1/build.gradle
lab1/src/test/
NSULabs_Java.iml
