
lab2/
lab3/.gradle
lab3/.idea
lab3/gradle
lab3/gradle/wrapper/
lab3/build.gradle
lab3/gradlew
lab3/gradlew.bat
lab3/settings.gradle
lab3/gradlew
lab3/gradle/wrapper/gradle-wrapper.jar
lab3/gradle/wrapper/gradle-wrapper.properties
lab3/build/
